<!-- <p>Lista de filmes</p> -->

<!-- <table border="1">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Gênero</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0001</td>
            <td>O Senhor dos Anéis</td>
            <td>Ficção</td>
            <td>2</td>
        </tr>
        <tr>
            <td>0002</td>
            <td>Dragon Ball Super: O Filme</td>
            <td>Animação</td>
            <td>1</td>
        </tr>
        <tr>
            <td>0003</td>
            <td>John Wick: Um Bom Dia Para Matar</td>
            <td>Ação</td>
            <td>5</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"></td>
            <td>Total</td>
            <td>8</td>
        </tr>
    </tfoot>
</table> -->

<p>Existem {{ filmes.length }} títulos disponíveis para locação.</p>
<p *ngIf="filmes.length <= 3">Temos poucos títulos no momento.</p>

<br>

<p style="font-weight: bolder;">Tabela de Filmes</p>
<table border="1">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Gênero</th>
            <th>Qtd</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let filme of filmes">
            <td> {{ filme.codigo }} </td>
            <td> {{ filme.nome }} </td>
            <td> {{ filme.genero }} </td>
            <td style="text-align: center;"> {{ filme.quantidade }} </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"></td>
            <td style="text-align: right;">Total</td>
            <td style="text-align: center;">8</td>
        </tr>
    </tfoot>
</table>

